html, body {
	margin: 0;
}

#global{
	position:fixed;
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	min-width: 100vw;
	max-height: 100vh;
	max-width: 100vw;
	background-image: url('../img/BGWaiting.jpg');
}

#pseudoFaceBook {
	font-family:klavika
}

#pseudoTwitter {
	font-family:picoblack
}

#fureurFaceBook {
	font-family:klavika
}

#fureurTwitter {
	font-family:picoblack
}

#reseauSocStreamer{
	position:absolute;
	flex-direction: row;
	margin:auto;
	overflow:auto;
	text-align: center;
	top:130px;
	width: 100%;
}

#reseauSocFureur{
	position:absolute;
	flex-direction: row;
	margin:auto;
	overflow:auto;
	text-align: center;
	top:50px;
	width: 100%;
}

#instantGaming{
	position:absolute;
	bottom:-25px;
	width: 400px;
	text-align: center;
	left:750px;
}


#logoFureur{
	position:absolute;
	left: 715px;
	top: 220px;
    transform: translate(-50%, -50%);
}

.logo{
	width: 50px;
	height: 50px;
}

.pseudo{
	color: white;
	font-size: 50px;
}


#frameAlert{
	display:block;
	width: 600px;
	height: 600px;
	margin: 0 auto;
}

#countdown{
	position:absolute;
	margin: 0 auto;
	bottom: 235px;
	left: 50%;
    transform: translate(-50%, 0);
	text-align: center;
	color: white;
	font-size: 150px;
	font-family:modenine;
}


@font-face {
	font-family: 'modenine';
	src: url('../common/modenine.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'klavika';
	src: url('../common/KlavikaBold.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'picoblack';
	src: url('../common/picoblack.ttf');
	font-weight: normal;
	font-style: normal;
}


/*****Slide Img*/

.photobanner {
	position:absolute;
	overflow:hidden;
	height: 600px;
	width: 10000px;
	top: 50%;
    transform: translate(0, -50%);
}

/*keyframe animations*/
.first {
 -webkit-animation: bannermove 50s linear infinite;
    -moz-animation: bannermove 50s linear infinite;
     -ms-animation: bannermove 50s linear infinite;
      -o-animation: bannermove 50s linear infinite;
         animation: bannermove 50s linear infinite;
			
}

#middleBanner{
	transform:scaleX(-1);
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -4692px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -4692px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -4692px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -4692px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -4692px;
 }
 
}